---
interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={className}
>
  <slot />
</a>
